:root {
  --Landing-Page-Heading-Color: #b24020;
  --main-color: #0a66c2;
  --main-dark-color: #004182;
  --text-Button-primary-color: #000000bf;
  --text-secondary-color: #00000099;
  --button-hover-color: #000000ea;
  --container-color: #000000bf;
  --btn-hover-color-1: #f2f2f2;
  --btn-hover-color-2: #ecf6ff;
  --Input-Text-color: #000000e6;
  --links-visited-color: #8344cc;
}
.Game_Keyword_Div {
  min-width: 648px;
  max-width: 648px;
  height: 170px;
  /* background-color: #7d2525; */
  display: flex;
  order: 2;
  align-items: center;
  justify-content: start;
  & .Game_Name {
    min-width: 4.8rem;
    width: fit-content;
    height: min-content;
    padding: 1.2rem 2.4rem;
    margin: 0 0.6rem 1.2rem 0;
    float: left;
    background-color: transparent;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans",
      Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial,
      sans-serif;
    text-align: center;
    color: var(--text-Button-primary-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    border: 0.1rem solid var(--text-Button-primary-color);
    &:hover {
      background-color: var(--btn-hover-color-1);
      color: var(--button-hover-color);
    }
  }
}
