/* Linkedin Project Theme */
:root {
  --main-color: #0a66c2;
  --text-Button-primary-color: #000000bf;
  --text-secondary-color: #00000099;
}

.LI_Logo_svg {
  width: 100%;
  color: var(--main-color);
}
